@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"); /*For normalizing css i.e. removing all browser specific stylings that might have been applied by default*/

body {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%) !important;
  background-repeat: no-repeat;
  font-family: "Montserrat", "sans-serif";
  min-height: 98.3vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.clock {
  color: #17d4fe;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}

.speakers {
  /* position: absolute; */
  left: 100px;
  text-align: left;
}

.error {
  color: rgb(204, 58, 58);
}

.sessions {
  margin-top: 0;
  padding-top: 0
}

.sessions li {
  margin: 10px;
}

.sessions b {
  background-color: white;
  /* padding: 5px; */
}